body {
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  color: navy;
  margin: 0;
  padding: 10px;
}

h1 {
  color: #ffc;
  background-color: #009;
  padding: 10px;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  background-color: #ccc;
  margin: 20px;
  padding: 40px;
  border-style: dashed;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: red;
}

h3 {
  font-style: italic;
}

.center {
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
